.workshop-signup h1 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.workshop-signup {
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .workshop-signup {
    width: 95%;
  }
  .workshop-signup > * > * > * {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .workshop-signup form {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .workshop-signup {
    width: 90%;
  }
  .workshop-signup form {
    width: 400px;
  }
}